:root {
    --vp-c-brand: #6C9D67;
    --vp-c-brand-light: #F2DB4B;
    --vp-c-white: #FCEEF9;
    --vp-c-black: #313428;
    --vp-c-green: #6C9D67;
    --vp-c-gray: #d1d1d1;
    --vp-c-red: #CA2E55;
    --vp-c-yellow: #F2DB4B;

  }
  .has-outline nav li {
    padding: 1rem 0rem;
  }